# ===============================
# Java
# ===============================
*.class
*.log
*.jar
*.war
*.ear

# ===============================
# Maven
# ===============================
target/

# ===============================
# IDE
# ===============================
.idea/
*.iml
*.ipr
*.iws
.vscode/

# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Logs
# ===============================
logs/
*.log

# ===============================
# Environment files
# ===============================
.env
.env.*

# ===============================
# Spring Boot sensitive config
# ===============================
application-local.yml
application-prod.yml
application-test.yml

# ===============================
# Sensitive keys
# ===============================
*.key
*.pem
*.p12
